@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.portfolio-img {
	height: 35rem;
	object-fit: cover; /* Hace que la imagen se ajuste sin distorsionar */
  }

a{
	color: black
}

a:hover {
	color: blue; /* Cambia el color del enlace cuando el cursor pasa por encima */
  }