@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.navbar.custom-bg {
    background-color: #2a475e;
}

#Hero-Section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-circle.custom-bg{
    background-color: #4f6d90;
}

.btn.custom-bg{
    background-color: #4f6d90;
}

.resume-section {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.custom-circle {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem
}

.custom-color-span{
    color: #4f6d90;
}

.custom-bg{
    background-color: #2a475e;
}

.company-logo {
    width: 2rem;
    margin-right: 10px;
    vertical-align: bottom;
}

.latam-logo {
    width: 1.5rem;
    margin-right: 10px;
    vertical-align: bottom;
}
